*{
  box-sizing: border-box;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}
.col{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.center{
  align-items: center;
text-align: center;
}