.App {
  font-family: sans-serif;
  text-align: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 18px;
  margin: 20px 5px 5px 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: lightgrey;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {
  background-color: white;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
